.page-content-white{
    /*background: #f1f3fa !important;
    background-image: initial !important;
    background-position-x: initial !important;
    background-position-y: initial !important;
    background-size: initial !important;
    background-repeat-x: initial !important;
    background-repeat-y: initial !important;
    background-attachment: initial !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: rgb(241, 243, 250) !important;*/
}
/*去除轮播图按钮背景*/
.left{
    text-shadow:none;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}


