<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="user_profile_tab_1">
    <div class="tab-pane active" id="tab_1">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <span>企业VIP对比:</span>
                </div>
                <div class="actions">
                    <label class="btn btn-transparent red btn-outline btn-circle btn-sm">开通VIP</label>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="success">
                            <th> VIP分类</th>
                            <th> 时间周期</th>
                            <th> 金额/元</th>
                            <th> 下载企业版素材授权周期</th>
                            <th> 修改模板次数</th>
                            <th>素材下载数量</th>
                            <th> 用户素材折扣</th>
                            <th> 发票</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="4" style="vertical-align: middle"> SD(标准版)</td>
                            <td> 一月</td>
                            <td> 199</td>
                            <td> 1年</td>
                            <td>每天下载3次</td>
                            <td>0</td>
                            <td>无</td>
                            <td>普票</td>
                        </tr>
                        <tr>
                            <td> 一个季度(三个月)</td>
                            <td> 399</td>
                            <td> 1年</td>
                            <td>无限下载</td>
                            <td>0</td>
                            <td>无</td>
                            <td>普票</td>
                        </tr>
                        <tr>
                            <td> 半年(6个月)</td>
                            <td> 699</td>
                            <td> 永久</td>
                            <td>无限下载</td>
                            <td>1</td>
                            <td>无</td>
                            <td>普票</td>
                        </tr>
                        <tr>
                            <td> 一年(12个月)</td>
                            <td> 999</td>
                            <td> 永久</td>
                            <td>无限下载</td>
                            <td>2</td>
                            <td>无</td>
                            <td>普票</td>
                        </tr>
                        <!--dv升级版-->
                        <tr>
                            <td rowspan="4" style="vertical-align: middle"> SD(标准版)</td>
                            <td> 一月</td>
                            <td> 299</td>
                            <td> 永久</td>
                            <td>每天下载10次</td>
                            <td>1</td>
                            <td>无</td>
                            <td>普票</td>
                        </tr>
                        <tr>
                            <td> 一个季度(三个月)</td>
                            <td> 699</td>
                            <td> 永久</td>
                            <td>无限下载</td>
                            <td>1</td>
                            <td>无</td>
                            <td>普票</td>
                        </tr>
                        <tr>
                            <td> 半年(6个月)</td>
                            <td> 1099</td>
                            <td> 永久</td>
                            <td>无限下载</td>
                            <td>3</td>
                            <td>9折</td>
                            <td>普票</td>
                        </tr>
                        <tr>
                            <td> 一年(12个月)</td>
                            <td> 1999</td>
                            <td> 永久</td>
                            <td>无限下载</td>
                            <td>5</td>
                            <td>9折</td>
                            <td>普票</td>
                        </tr>
                        <!--HD至尊版-->
                        <tr>
                            <td rowspan="4" style="vertical-align: middle"> SD(标准版)</td>
                            <td> 一月</td>
                            <td> 399</td>
                            <td> 永久</td>
                            <td>无限下载</td>
                            <td>2</td>
                            <td>9折</td>
                            <td>专票</td>
                        </tr>
                        <tr>
                            <td> 一个季度(三个月)</td>
                            <td> 999</td>
                            <td> 永久</td>
                            <td>无限下载</td>
                            <td>3</td>
                            <td>9折</td>
                            <td>专票</td>
                        </tr>
                        <tr>
                            <td> 半年(6个月)</td>
                            <td> 1599</td>
                            <td> 永久</td>
                            <td>无限下载</td>
                            <td>6</td>
                            <td>8折</td>
                            <td>专票</td>
                        </tr>
                        <tr class="my-vip">
                            <td> 一年(12个月)</td>
                            <td> 2999</td>
                            <td> 永久</td>
                            <td>无限下载</td>
                            <td>10</td>
                            <td>8折</td>
                            <td>专票</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
</html>