<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head th:replace="/commons/common_header::common_header(~{},~{},~{::link})">
    <!--<link th:src="@{/css/user_profile.css}" rel="stylesheet" href="../../static/css/user_profile.css">-->
    <link th:href="@{/assets/pages/css/profile.css}" href="../../static/assets/pages/css/profile.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/user_profile.css}" href="../../static/css/user_profile.css" rel="stylesheet" type="text/css"/>
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width">
<div class="page-wrapper">
    <!--首页导航开始-->
    <div th:replace="/commons/common_navbar">
    </div>
    <!--首页导航结束-->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!--侧边导航开始-->
        <div th:replace="/commons/common_side"></div>
        <!--侧边导航结束-->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!--个人信息管理开始-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PROFILE SIDEBAR -->
                        <div class="profile-sidebar">
                            <!-- PORTLET MAIN -->
                            <div class="portlet light profile-sidebar-portlet ">
                                <!-- SIDEBAR USERPIC -->
                                <div class="profile-userpic">
                                    <img src="../../static/assets/pages/media/profile/profile_user.jpg"
                                         class="img-responsive" alt=""></div>
                                <!-- END SIDEBAR USERPIC -->
                                <!-- SIDEBAR USER TITLE -->
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">用户名</div>
                                    <div class="profile-usertitle-job"> 账号ID:12345678</div>
                                </div>
                                <!-- END SIDEBAR USER TITLE -->
                                <!-- SIDEBAR BUTTONS -->
                                <div class="profile-userbuttons">
                                    <button type="button" class="btn btn-circle green btn-sm">修改头像</button>
                                    <!--<button type="button" class="btn btn-circle red btn-sm">Message</button>-->
                                </div>
                                <!-- END SIDEBAR BUTTONS -->
                                <!-- SIDEBAR MENU -->
                                <div class="profile-usermenu">
                                    <ul class="nav">
                                        <li class="active">
                                            <a href="#tab_1" data-toggle="tab">
                                                <i class="icon-home"></i> 企业VIP </a>
                                        </li>
                                        <li>
                                            <a href="#tab_2" data-toggle="tab">
                                                <i class="icon-settings"></i> 个人VIP</a>
                                        </li>
                                        <li>
                                            <a href="#tab_3" data-toggle="tab">
                                                <i class="icon-info"></i> 个人中心 </a>
                                        </li>
                                        <li>
                                            <a href="#tab_4" data-toggle="tab">
                                                <i class="icon-info"></i> 账户余额 </a>
                                        </li>
                                        <li>
                                            <a href="#tab_5" data-toggle="tab">
                                                <i class="icon-info"></i> 我的购买 </a>
                                        </li>
                                        <li>
                                            <a href="#tab_6" data-toggle="tab">
                                                <i class="icon-info"></i> 修改模板 </a>
                                        </li>
                                        <li>
                                            <a href="#tab_7" data-toggle="tab">
                                                <i class="icon-info"></i> 我的收藏 </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END MENU -->
                            </div>
                            <!-- END PORTLET MAIN -->
                        </div>
                        <!-- END BEGIN PROFILE SIDEBAR -->
                        <!-- BEGIN PROFILE CONTENT -->
                        <div class="profile-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light ">
                                        <!--<div class="portlet-title tabbable-line">
                                        </div>-->
                                        <div class="portlet-body">
                                            <div class="tab-content">
                                                <!--企业VIP开始-->
                                                <th:block th:include="userProfile/user_profile_tab_1::user_profile_tab_1" />
                                                <!--企业VIP结束-->
                                                <!--个人VIP开始-->
                                                <th:block th:include="userProfile/user_profile_tab_2::user_profile_tab_2" />
                                                <!--个人VIP结束-->
                                                <!-- 个人中开始 -->
                                                <th:block th:include="userProfile/user_profile_tab_3::user_profile_tab_3" />
                                                <!-- 个人中结束 -->
                                                <!-- 账户余额开始 -->
                                                <th:block th:include="userProfile/user_profile_tab_4::user_profile_tab_4" />
                                                <!-- 账户余额结束 -->
                                                <!--我的下载开始-->
                                                <th:block th:include="userProfile/user_profile_tab_5::user_profile_tab_5" />
                                                <!--我的下载结束-->
                                                <!--我的下载开始-->
                                                <th:block th:include="userProfile/user_profile_tab_6::user_profile_tab_6" />
                                                <!--我的下载结束-->
                                                <!-- CHANGE PASSWORD TAB -->
                                                <th:block th:include="userProfile/user_profile_tab_7::user_profile_tab_7" />
                                                <!-- END CHANGE PASSWORD TAB -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PROFILE CONTENT -->
                    </div>
                </div>
                <!--个人信息管理结束-->
            </div>
            <!-- END CONTENT BODY -->
        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- 页脚开始 -->
    <div th:replace="/commons/common_footer">
    </div>
    <!-- 页脚结束 -->

    <!-- END FOOTER -->
</div>
<!-- 快速导航开始 -->
<div th:replace="/commons/common_quick_nav">

</div>
<!-- 快速导航结束 -->
<!--公共模态框开始-->

<!--公共模态框结束-->
<!--引入公共js开始-->
<div th:include="/commons/common_js">

</div>
<!--引入公共js结束-->
</body>

</html>