<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="user_profile_tab_6">
    <div class="tab-pane" id="tab_6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <div class="mt-radio-inline">
                        <label class="mt-radio mt-radio-outline">
                            <input type="radio" name="optionsRadioss"
                                   value="option1" checked=""> 全部
                            <span></span>
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <input type="radio" name="optionsRadioss"
                                   value="option2" checked=""> VIP
                            <span></span>
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <input type="radio" name="optionsRadioss"
                                   value="option2" checked=""> 用户
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="table-scrollable">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th>预览</th>
                                    <th>售价</th>
                                    <th>修改时间</th>
                                    <th>投诉</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><img style="max-height: 20px" src="../../static/imges/car1.jpg"></td>
                                    <td>50元</td>
                                    <td>2018-12-25 19:57</td>
                                    <td>
                                        <button type="button" class="btn btn-link">投诉</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img style="max-height: 20px" src="../../static/imges/car1.jpg"></td>
                                    <td>50元</td>
                                    <td>2018-12-25 19:57</td>
                                    <td>
                                        <button type="button" class="btn btn-link">投诉</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img style="max-height: 20px" src="../../static/imges/car1.jpg"></td>
                                    <td>50元</td>
                                    <td>2018-12-25 19:57</td>
                                    <td>
                                        <button type="button" class="btn btn-link">投诉</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img style="max-height: 20px" src="../../static/imges/car1.jpg"></td>
                                    <td>50元</td>
                                    <td>2018-12-25 19:57</td>
                                    <td>
                                        <button type="button" class="btn btn-link">投诉</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>