<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="author-info">

    <div class="portlet mt-element-ribbon light portlet-fit bordered">
        <div class="portlet-body">
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-circle img-responsive center-block" src="../../static/assets/pages/img/avatars/team3.jpg">
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="form-group no-margin-boot">
                            <label class="control-label col-md-6"><i class="fa fa-pencil-square-o"></i></label>
                            <div class="col-md-6">
                                <p class="form-control-static"> 个人签约 </p>
                            </div>
                        </div>
                        <div class="form-group no-margin-boot">
                            <label class="control-label col-md-6">所在地</i></label>
                            <div class="col-md-6">
                                <p class="form-control-static">北京<i class="fa fa-map-marker"></i></p>
                            </div>
                        </div>
                        <div class="form-group no-margin-boot">
                            <label class="control-label col-md-6">店铺作品数:</i></label>
                            <div class="col-md-6">
                                <p class="form-control-static"> 1230 </p>
                            </div>
                        </div>
                        <div class="form-group no-margin-boot">
                            <label class="control-label col-md-6">设计师近30天收入:</i></label>
                            <div class="col-md-6">
                                <p class="form-control-static"> 1230 </p>
                            </div>
                        </div>
                        <div class="form-group no-margin-boot">
                            <label class="control-label col-md-6">签约协议:</i></label>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="form-group no-margin-boot">
                            <img style="width: 70%" class="img-responsive center-block" src="../../static/imges/qianyue.jpg">
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="margin-top-10 mt-element-ribbon bg-grey-steel">
                    <table class="table table-hover table-light">
                        <tbody>
                        <tr><td>1天前售出</td><td>情人节原创</td></tr>
                        <tr><td>1天前售出</td><td>情人节原创</td></tr>
                        <tr><td>1天前售出</td><td>情人节原创</td></tr>
                        <tr><td>1天前售出</td><td>情人节原创</td></tr>
                        <tr><td>1天前售出</td><td>情人节原创</td></tr>
                        <tr><td>1天前售出</td><td>情人节原创</td></tr>
                        <tr><td>1天前售出</td><td>情人节原创</td></tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>