<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="works-comment">
    <div class="todo-content">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <button id="addComment" class="btn green btn-block" onclick="addComment(0)">
                        <span>添加评论</span>
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="col-md-12" >

                    <ul class="media-list" id="media-list">
                        <li class="media">
                            <a class="pull-left" href="javascript:;">
                                <img class="todo-userpic" src="../assets/pages/media/users/avatar8.jpg" width="27px" height="27px">
                            </a>
                            <div class="media-body todo-comment">
                                <p class="todo-comment-head">
                                    <span class="todo-comment-username">Christina Aguilera</span>
                                    <span class="todo-comment-date">17 Sep 2014 at 2:05pm
                                           <b style="cursor: pointer">
                                               <i class="fa fa-comments"></i>回复
                                           </b>
                                    </span>
                                </p>
                                <button type="button" style="float: right" class=" btn btn-circle red btn-sm">删除</button>
                                <p class="todo-text-color"> Cras sit amet nibh libero</p>
                                <!-- Nested media object -->
                                <div class="media">
                                    <a class="pull-left" href="javascript:;">
                                        <img class="todo-userpic" src="../assets/pages/media/users/avatar4.jpg"
                                             width="27px" height="27px"> </a>
                                    <div class="media-body">
                                        <p class="todo-comment-head">
                                            <span class="todo-comment-username">Carles Puyol</span>
                                            <span class="todo-comment-date">17 Sep 2014 at 4:30pm</span>
                                        </p>
                                        <p class="todo-text-color"> Thanks so much my dear! </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</html>