<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="user_profile_tab_7">
    <div class="tab-pane" id="tab_7">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <div class="mt-radio-inline">
                        <label class="mt-radio mt-radio-outline">
                            <input type="radio" name="optionsRadioss"
                                   value="option1" checked=""> 全部
                            <span></span>
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <input type="radio" name="optionsRadioss"
                                   value="option2" checked=""> VIP
                            <span></span>
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <input type="radio" name="optionsRadioss"
                                   value="option2" checked=""> 用户
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="actions">
                    <label class="btn  green btn-outline btn-circle btn-sm">查询</label>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row" >
                    <div class="col-md-3 margin-bottom-30">
                        <div class="collection-list">
                            <label class="mt-checkbox mt-checkbox-outline" style="background: url('../../static/imges/car1.jpg');">
                                <input type="checkbox">
                                <span class="bg-white"></span>
                            </label>
                            <b style="align-items: center">瀑布</b>
                        </div>
                    </div>
                    <div class="col-md-3 margin-bottom-30">
                        <div class="collection-list">
                            <label class="mt-checkbox mt-checkbox-outline" style="background: url('../../static/imges/car1.jpg');">
                                <input type="checkbox">
                                <span class="bg-white"></span>
                            </label>
                            <b style="align-items: center">瀑布</b>
                        </div>
                    </div>
                    <div class="col-md-3 margin-bottom-30">
                        <div class="collection-list">
                            <label class="mt-checkbox mt-checkbox-outline" style="background: url('../../static/imges/car1.jpg');">
                                <input type="checkbox">
                                <span class="bg-white"></span>
                            </label>
                            <b style="align-items: center">瀑布</b>
                        </div>
                    </div>
                    <div class="col-md-3 margin-bottom-30">
                        <div class="collection-list">
                            <label class="mt-checkbox mt-checkbox-outline" style="background: url('../../static/imges/car1.jpg');">
                                <input type="checkbox">
                                <span class="bg-white"></span>
                            </label>
                            <b style="align-items: center">瀑布</b>
                        </div>
                    </div>
                    <div class="col-md-3 margin-bottom-30">
                        <div class="collection-list">
                            <label class="mt-checkbox mt-checkbox-outline" style="background: url('../../static/imges/car1.jpg');">
                                <input type="checkbox">
                                <span class="bg-white"></span>
                            </label>
                            <b style="align-items: center">瀑布</b>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
</html>