<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="user_profile_tab_5">
    <div class="tab-pane" id="tab_5">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <span>我的购买:</span>
                </div>
                <!--<div class="actions">
                    <label class="btn btn-transparent red btn-outline btn-circle btn-sm">开通VIP</label>
                </div>-->
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <!--<div class="table-scrollable">-->
                            <table id="mydown-works-table" class="table table-bordered table-full-width">
                                <thead>
                                    <tr>
                                        <th>预览</th>
                                        <th>售价</th>
                                        <th>购买时间</th>
                                        <th>查看</th>
                                    </tr>
                                </thead>
                                <tbody id="mydown-works-table-body">

                                </tbody>
                            </table>
                        <ul id="my-down-page"></ul>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>
</div>
</html>