<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtu.mapper.VipDetailMapper">
  <resultMap id="BaseResultMap" type="com.vtu.model.VipDetail">
    <id column="vip_detail_id" jdbcType="BIGINT" property="vipDetailId" />
    <result column="vip_id" jdbcType="BIGINT" property="vipId" />
    <result column="vip_name" jdbcType="VARCHAR" property="vipName" />
    <result column="prices" jdbcType="BIGINT" property="prices" />
    <result column="time_long" jdbcType="INTEGER" property="timeLong" />
    <result column="time_unit" jdbcType="VARCHAR" property="timeUnit" />
    <result column="com_material" jdbcType="INTEGER" property="comMaterial" />
    <result column="material" jdbcType="INTEGER" property="material" />
    <result column="modial_material" jdbcType="INTEGER" property="modialMaterial" />
    <result column="custom_discount" jdbcType="DOUBLE" property="customDiscount" />
    <result column="invoice_type" jdbcType="CHAR" property="invoiceType" />
    <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
  </resultMap>
  <sql id="Base_Column_List">
    vip_detail_id, vip_id, vip_name, prices, time_long, time_unit, com_material, material, 
    modial_material, custom_discount, invoice_type, sort_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_vip_detail
    where vip_detail_id = #{vipDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_vip_detail
    where vip_detail_id = #{vipDetailId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.vtu.model.VipDetail">
    insert into tb_vip_detail (vip_detail_id, vip_id, vip_name, 
      prices, time_long, time_unit, 
      com_material, material, modial_material, 
      custom_discount, invoice_type, sort_num
      )
    values (#{vipDetailId,jdbcType=BIGINT}, #{vipId,jdbcType=BIGINT}, #{vipName,jdbcType=VARCHAR}, 
      #{prices,jdbcType=BIGINT}, #{timeLong,jdbcType=INTEGER}, #{timeUnit,jdbcType=VARCHAR}, 
      #{comMaterial,jdbcType=INTEGER}, #{material,jdbcType=INTEGER}, #{modialMaterial,jdbcType=INTEGER}, 
      #{customDiscount,jdbcType=DOUBLE}, #{invoiceType,jdbcType=CHAR}, #{sortNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vtu.model.VipDetail">
    insert into tb_vip_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vipDetailId != null">
        vip_detail_id,
      </if>
      <if test="vipId != null">
        vip_id,
      </if>
      <if test="vipName != null">
        vip_name,
      </if>
      <if test="prices != null">
        prices,
      </if>
      <if test="timeLong != null">
        time_long,
      </if>
      <if test="timeUnit != null">
        time_unit,
      </if>
      <if test="comMaterial != null">
        com_material,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="modialMaterial != null">
        modial_material,
      </if>
      <if test="customDiscount != null">
        custom_discount,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
      <if test="sortNum != null">
        sort_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vipDetailId != null">
        #{vipDetailId,jdbcType=BIGINT},
      </if>
      <if test="vipId != null">
        #{vipId,jdbcType=BIGINT},
      </if>
      <if test="vipName != null">
        #{vipName,jdbcType=VARCHAR},
      </if>
      <if test="prices != null">
        #{prices,jdbcType=BIGINT},
      </if>
      <if test="timeLong != null">
        #{timeLong,jdbcType=INTEGER},
      </if>
      <if test="timeUnit != null">
        #{timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="comMaterial != null">
        #{comMaterial,jdbcType=INTEGER},
      </if>
      <if test="material != null">
        #{material,jdbcType=INTEGER},
      </if>
      <if test="modialMaterial != null">
        #{modialMaterial,jdbcType=INTEGER},
      </if>
      <if test="customDiscount != null">
        #{customDiscount,jdbcType=DOUBLE},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=CHAR},
      </if>
      <if test="sortNum != null">
        #{sortNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vtu.model.VipDetail">
    update tb_vip_detail
    <set>
      <if test="vipId != null">
        vip_id = #{vipId,jdbcType=BIGINT},
      </if>
      <if test="vipName != null">
        vip_name = #{vipName,jdbcType=VARCHAR},
      </if>
      <if test="prices != null">
        prices = #{prices,jdbcType=BIGINT},
      </if>
      <if test="timeLong != null">
        time_long = #{timeLong,jdbcType=INTEGER},
      </if>
      <if test="timeUnit != null">
        time_unit = #{timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="comMaterial != null">
        com_material = #{comMaterial,jdbcType=INTEGER},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=INTEGER},
      </if>
      <if test="modialMaterial != null">
        modial_material = #{modialMaterial,jdbcType=INTEGER},
      </if>
      <if test="customDiscount != null">
        custom_discount = #{customDiscount,jdbcType=DOUBLE},
      </if>
      <if test="invoiceType != null">
        invoice_type = #{invoiceType,jdbcType=CHAR},
      </if>
      <if test="sortNum != null">
        sort_num = #{sortNum,jdbcType=INTEGER},
      </if>
    </set>
    where vip_detail_id = #{vipDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vtu.model.VipDetail">
    update tb_vip_detail
    set vip_id = #{vipId,jdbcType=BIGINT},
      vip_name = #{vipName,jdbcType=VARCHAR},
      prices = #{prices,jdbcType=BIGINT},
      time_long = #{timeLong,jdbcType=INTEGER},
      time_unit = #{timeUnit,jdbcType=VARCHAR},
      com_material = #{comMaterial,jdbcType=INTEGER},
      material = #{material,jdbcType=INTEGER},
      modial_material = #{modialMaterial,jdbcType=INTEGER},
      custom_discount = #{customDiscount,jdbcType=DOUBLE},
      invoice_type = #{invoiceType,jdbcType=CHAR},
      sort_num = #{sortNum,jdbcType=INTEGER}
    where vip_detail_id = #{vipDetailId,jdbcType=BIGINT}
  </update>
</mapper>