<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtu.mapper.WebMainMapper">
  <resultMap id="BaseResultMap" type="com.vtu.model.WebMain">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="main_type_id" jdbcType="BIGINT" property="mainTypeId" />
    <result column="works_id" jdbcType="BIGINT" property="worksId" />
    <result column="is_display" jdbcType="CHAR" property="isDisplay" />
  </resultMap>
  <insert id="insert" parameterType="com.vtu.model.WebMain">
    insert into tb_web_main (id, main_type_id, works_id, 
      is_display)
    values (#{id,jdbcType=INTEGER}, #{mainTypeId,jdbcType=BIGINT}, #{worksId,jdbcType=BIGINT}, 
      #{isDisplay,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vtu.model.WebMain">
    insert into tb_web_main
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mainTypeId != null">
        main_type_id,
      </if>
      <if test="worksId != null">
        works_id,
      </if>
      <if test="isDisplay != null">
        is_display,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mainTypeId != null">
        #{mainTypeId,jdbcType=BIGINT},
      </if>
      <if test="worksId != null">
        #{worksId,jdbcType=BIGINT},
      </if>
      <if test="isDisplay != null">
        #{isDisplay,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>