<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtu.mapper.WorksDiscountMapper">
  <resultMap id="BaseResultMap" type="com.vtu.model.WorksDiscount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="discount_id" jdbcType="BIGINT" property="discountId" />
    <result column="works_id" jdbcType="BIGINT" property="worksId" />
    <result column="bgin_time" jdbcType="TIMESTAMP" property="bginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, discount_id, works_id, bgin_time, end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_works_discount
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByWorksId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_works_discount
    where works_id = #{WorksId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_works_discount
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.vtu.model.WorksDiscount">
    insert into tb_works_discount (id, discount_id, works_id, 
      bgin_time, end_time)
    values (#{id,jdbcType=BIGINT}, #{discountId,jdbcType=BIGINT}, #{worksId,jdbcType=BIGINT}, 
      #{bginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.vtu.model.WorksDiscount">
    insert into tb_works_discount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="discountId != null">
        discount_id,
      </if>
      <if test="worksId != null">
        works_id,
      </if>
      <if test="bginTime != null">
        bgin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="discountId != null">
        #{discountId,jdbcType=BIGINT},
      </if>
      <if test="worksId != null">
        #{worksId,jdbcType=BIGINT},
      </if>
      <if test="bginTime != null">
        #{bginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vtu.model.WorksDiscount">
    update tb_works_discount
    <set>
      <if test="discountId != null">
        discount_id = #{discountId,jdbcType=BIGINT},
      </if>
      <if test="worksId != null">
        works_id = #{worksId,jdbcType=BIGINT},
      </if>
      <if test="bginTime != null">
        bgin_time = #{bginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vtu.model.WorksDiscount">
    update tb_works_discount
    set discount_id = #{discountId,jdbcType=BIGINT},
      works_id = #{worksId,jdbcType=BIGINT},
      bgin_time = #{bginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>