<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/assets/global/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/assets/global/plugins/datatables/css/dataTables.bootstrap.css">

    <script src="../../static/assets/global/plugins/datatables/js/jquery.js"></script>
    <script src="../../static/assets/global/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="../../static/assets/global/plugins/datatables/js/jquery.dataTables.js"></script>
    <script src="../../static/assets/global/plugins/datatables/js/dataTables.bootstrap.js"></script>



</head>
<body>
<div class="container">
    <div class="row">
        <table id="table1" class="table table-striped table-bordered responsive table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>

        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#table1').DataTable( {
            serverSide:true,
            lengthMenu: [5, 10, 20, 30],
            ordering:false,
            language: {
                "url": "../../static/assets/global/plugins/datatables/datatables_language.json"
            },
            "ajax": {
                type:"post",
                url:"list.txt",
                data:function(d){
                    /*var param = {};
                    param.start = d.start;//开始的序号
                    param.length = d.length;//要取的数据的*/
                    return d;
                }
            },
            "columns": [
                { "data": "office" },
                { "data": "extn" }
            ],
            /*"dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",*/
            "dom":"tr" +
                "<'row' <'col-md-2' l><'col-md-4' i><'col-md-6' p>>",
            paging: true,
            pagingType: "full_numbers",//分页样式的类型
        } );
    } );
    /*$(function () {
        $('#table1').DataTable( {
            "ajax": "list.json"
        } );
        $("#table1").DataTable({
            "ajax": {
                "url": "list.json",
            },
            "columns": [
                {"data": "name"},
                {"data": "position"}
            ]

        });
    });*/
</script>
</body>
</html>