<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="seller_sign_model">
    <div class="modal fade" id="sign_model" tabindex="-1" role="sign_model" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border: none">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
                    <h3 class="modal-title" style="text-align: center">证件上传</h3>
                </div>
                <div class="modal-body">
                    <!--<div class="bootbox-body">
                        <form id="sign_fom" class="bootbox-form">
                            <input id="email_adress" placeholder="请输入邮箱地址" class="bootbox-input bootbox-input-text form-control" autocomplete="off" type="text">
                        </form>
                    </div>-->
                    <form id="worksUp" enctype="multipart/form-data" class="form-horizontal" action="/fileUp">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">手持身份证正面照</label>
                                <div class="col-md-9" style="display: inline-block">
                                    <span class="btn green fileinput-button">
                                        <i class="fa fa-plus"></i>
                                        <span> 添加文件... </span>
                                        <input type="file" name="picPreview" id="picPreview" multiple="multiple">
                                    </span>
                                    <span class="help-block">请上传本人手持身份证正面头部免冠、未化妆，例如样本
                                        照片请勿用用任何编辑软件处理，必须看清证件信息,持证五官清晰
                                        您提供的照片信息V图网将以保护，不会用于其他途径
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">手持身份证样本</label>
                                <div class="col-md-3" style="display: inline-block">
                                    <img style="display: block;height: 100px" th:src="@{/imges/car1.jpg}" src="imges/car1.jpg">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">个人签约申明</label>
                                <div class="col-md-9">
                                    <span>上传已签署的协议照片或扫描件，签署人不必须与实名认证人一致
                                        图片大小不超过3M，所有待填写项必须手填写
                                    </span>
                                    <span class="help-block">
                                        <button type="button" class="btn btn-link">下载个人签约申明模板</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">样本</label>
                                <div class="col-md-9" style="max-height: 200px">
                                    <img style="display: block;height: 200px" th:src="@{/imges/car1.jpg}" src="imges/car1.jpg">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-lg-offset-3 col-md-offset-3">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox"> 确认信息准确无误
                            <span></span>
                        </label>
                        <!--<a href="">本网站声明</a>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-lg-offset-3 col-md-offset-3">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox"> 同意
                            <span></span>
                        </label>
                        <a href="">《V图网卖家销售协议》</a>
                    </div>
                </div>

                <div class="modal-footer" style="border: none">
                    <button id="send_email_auth" type="button" class="btn green">提交</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>