<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="seller_vido_model">
    <div class="modal fade" id="vido_model" tabindex="-1" role="vido_model" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">编辑作品</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="worksUpForm" class="form-horizontal" action="#">
                        <div class="form-group">
                            <label class="col-md-3 control-label">编号</label>
                            <div class="col-md-6">
                                <input type="text" name="worksId" id="worksId" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">名称</label>
                            <div class="col-md-6">
                                <input type="text" name="worksName" id="worksName" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">时长</label>
                            <div class="col-md-6">
                                <input type="text" value="123214545356" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">标题</label>
                            <div class="col-md-6">
                                <input type="text" name="worksTitle" id="worksTitle" placeholder="标题" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">作品关键词</label>
                            <div class="col-md-6">
                                <input type="text" placeholder="关键词用空格隔开，请尽量详尽，但不要填写无关关键词" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">售价</label>
                            <div class="col-md-6">
                                <input type="text" name="price" id="price" placeholder="售价" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">预览图片</label>
                            <div class="col-md-6">
                                <span class="fileinput-button">
                                    <img style="width: 200px" id="previewUrl_show" th:src="@{/imges/car1.jpg}" src="../static/imges/car1.jpg"/>
                                    <input type="file" name="previewUrl" id="previewUrl" multiple="multiple">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">展示大图</label>
                            <div class="col-md-6">
                                <span class="fileinput-button">
                                    <img style="width: 200px" id="synthesisUrl_show" th:src="@{/imges/car1.jpg}" src="../static/imges/car1.jpg"/>
                                    <input type="file" name="synthesisUrl" id="synthesisUrl" multiple="multiple">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">通道</label>
                            <div class="col-md-6">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio mt-radio-outline">
                                        <input type="radio" name="optionsRadios"
                                               value="option1" checked=""> alpha透明通道
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-outline">
                                        <input type="radio" name="optionsRadios"
                                               value="option2" checked=""> 视频loop循环
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">作品简介</label>
                            <div class="col-md-6">
                                <textarea name="worksDesc" id="worksDesc" class="form-control" rows="3" placeholder="请输入作品简介"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">取消</button>
                    <button type="button" id="saveUpWorks" class="btn green">提交</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
</html>