<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="seller_tab_3">
    <!--上传开始-->
    <div class="tab-pane" id="tab_3">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="m-heading-1 border-green m-bordered">
                    <h3>申明</h3>
                    <p> 上传素材后，请尽快完善素材信息，只有填写好信息的素材才会被审核</p>
                    <p>直接上传视频素材mp4,mov格式,自动生成预览视频</p>
                    <p>上传AE模板或视频素材包,请点击"+模板/压缩包",需要同时添加压缩包及预览视频2个文件</p>
                    <p>上传平面PSD或AI压缩包请点击"+平面",需要压缩包及预览图2个文件</p>
                    <p>直接上传PSD、JPG图片和PNG图片自动生成预览图</p>
                    <p>直接上传音效、配乐请点击"+音效/配乐",自动生成预览声音</p>
                    <p style="color: red"><b>文件上传体积不能超过1G;</b></p>

                </div>
            </div>

            <div class="portlet-body">
                <div >
                    <div class="row" style="margin: 20px">
                        <div class="col-md-3">
                            <span class="btn green fileinput-button">
                                <i class="fa fa-plus"></i>
                                <span> 视频素材 </span>
                                <input type="file" name="video" id="video" multiple="multiple">
                            </span>
                        </span>
                        </div>
                        <div class="col-md-3">
                            <a href="javascript:;" class="btn btn-lg green">
                                <i class="fa fa-plus"></i>模板/压缩包
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="javascript:;" class="btn btn-lg green">
                                <i class="fa fa-plus"></i>平面
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="javascript:;" class="btn btn-lg green">
                                <i class="fa fa-plus"></i>音效/配乐
                            </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-10">
                            <div id="progress" style="display: none" class="progress progress-striped active">
                                <div  class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">
                                    0%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-element-card mt-element-overlay">
                        <div class="row" style="margin-top: 20px">
                            <div class="col-sm-12" id="listWorks">
                                <div class="col-md-2">
                                    <div class=" mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
                                            <img src="../../static/assets/pages/img/avatars/team2.jpg"/>
                                        </div>
                                        <div class="mt-card-content">
                                            <div class="caption">
                                                <a href="javascript:;" class="btn btn-sm blue" data-toggle="modal"
                                                   data-target="#vido_model"> 编辑 </a>
                                                <a href="javascript:;" onclick="delWorksById(1)" class="btn btn-sm red"> 删除 </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>


    </div>
    <!--上传结束-->
</div>
</div>
</html>