
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="commons/common_header::common_header(~{},~{},~{})">
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
<h1>用户列表</h1>
<!--<h2 th:text="${test.id}"></h2>-->
<!--<ul th:each="user:${userList}">
    <li th:text="${user.phone}">hello</li>
</ul>-->
<video muted="false" id="video" width="300px" height="200px" onmouseover="videoPlayback(this)" onmouseout="videoStopped()">
    <source  src="https://vdse.bdstatic.com//d719a00ef3e9242e4f15d09eb3a56885?authorization=bce-auth-v1%2F40f207e648424f47b2e3dfbb1014b1a5%2F2017-05-11T09%3A02%3A31Z%2F-1%2F%2Fa995633866dcbad98a024d34995d8307e8bd7db308387283e725884842c7561e">
</video>
<script>
    //鼠标移进去
    function videoPlayback(object){
        var video =object;
        console.info(video);
        //获取视频标签
        /*var video = document.getElementById('video');*/
        //给视频标签添加缓存播放---video标签属性。
        video.setAttribute("autoplay","autoplay")
        //给视频标签添加循环播放---video标签属性。
        video.setAttribute("loop","loop")
        //播放视频
        video.play();
    }

    //鼠标离开
    function videoStopped(){
        //获取视频标签
        var oDiv = document.getElementById('video');
        //停止播放
        oDiv.pause();
    }
</script>
</body>
</html>