<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="seller_template_model">
    <div class="modal fade" id="template_model" tabindex="-1" role="template_model" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">编辑作品</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="templateUpForm" class="form-horizontal" action="#">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">预览图片</label>
                                    <div class="col-md-6">
                                <span class="fileinput-button">
                                    <img style="width: 200px" id="template_previewUrl_show" th:src="@{/imges/car1.jpg}" src="../static/imges/car1.jpg"/>
                                    <input type="file" name="template_previewUrl" id="template_previewUrl" multiple="multiple">
                                </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">展示大图</label>
                                    <div class="col-md-6">
                                <span class="fileinput-button">
                                    <img style="width: 200px" id="template_synthesisUrl_show" th:src="@{/imges/car1.jpg}" src="../static/imges/car1.jpg"/>
                                    <input type="file" name="template_synthesisUrl" id="template_synthesisUrl" multiple="multiple">
                                </span>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">编号</label>
                                    <div class="col-md-6">
                                        <input type="text" name="worksId" id="template_worksId" class="form-control" readonly="readonly">
                                    </div>
                                </div>

                                <div class="form-group" style="display: none">
                                    <label class="col-md-3 control-label">作品类型</label>
                                    <div class="col-md-6">
                                        <input type="text" name="type" id="template_worksType" class="form-control" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">时长</label>
                                    <div class="col-md-6">
                                        <input type="text" name="duration" id="template_worksDuration" value="123214545356" class="form-control" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">标题</label>
                                    <div class="col-md-6">
                                        <input type="text" name="title" id="template_worksTitle" placeholder="标题" class="form-control" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">关键词</label>
                                    <div class="col-md-6">
                                        <textarea name="keyWord" id="template_keyWord" class="form-control" rows="3" placeholder="关键词用空格隔开，请尽量详尽，但不要填写无关关键词,长度不超过100" maxlength="100"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">售价(元)</label>
                                    <div class="col-md-6">
                                        <select name="template-is-free" id="template_is-free" class="form-control">
                                            <option value="0">免费</option>
                                            <option value="1">收费</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="template_price_div" style="display: none">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-6">
                                        <input  type="text" name="price" id="template_price" placeholder="售价(元)" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">可修改范围</label>
                                    <div class="col-md-6">
                                        <select name="modifyScope" id="modifyScope" class="form-control">
                                            <option value="不能修改">不能修改</option>
                                            <option value="仅LOGO可修改">仅LOGO可修改</option>
                                            <option value="仅文字可修改">仅文字可修改</option>
                                            <option value="图片和文字可修改">图片和文字可修改</option>
                                            <option value="全部分层内容">全部分层内容</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">分辨率</label>
                                    <div class="col-md-6">
                                        <select name="template_resolution"  id="template_resolution" class="form-control" >
                                            <option value="1920×1080">1920×1080</option>
                                            <option value="1080×1920">1080×1920</option>
                                            <option value="3840×2160">3840×2160</option>
                                            <option value="自定义">自定义</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id="template_resolution_div" style="display: none">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" id="template_resolution_width" placeholder="宽(px)" class="input form-control">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn">
                                                     ×
                                                </button>
                                            </span>
                                            <input type="text" id="template_resolution_height" placeholder="高(px)" class="input form-control">
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label">素材类别</label>
                                    <div class="col-md-6" id="template_material-div1">
                                        <select name="material"  id="template_material" class="form-control" >
                                            <option value="0">视频素材</option>
                                            <option value="1">AE模板</option>
                                            <option value="2">PR模板</option>
                                            <option value="3">PPT模板</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group" id="template_material_video">
                                    <label class="col-md-3 control-label">素材类别</label>
                                    <div class="col-md-6">
                                        <select name="material_type"  id="template_material_video_val" class="form-control" >
                                            <option value="mp4">mp4</option>
                                            <option value="mov">mov</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id="template_material_ae" style="display: none">
                                    <label class="col-md-3 control-label">AE模板</label>
                                    <div class="col-md-6">
                                        <select name="material_type"  id="template_material_ae_val" class="form-control" >
                                            <option value="CC2019">CC2019</option>
                                            <option value="CC2018">CC2018</option>
                                            <option value="CC2017">CC2017</option>
                                            <option value="CC2016">CC2016</option>
                                            <option value="CC2015">CC2015</option>
                                            <option value="CC2014">CC2014</option>
                                            <option value="CC">CC</option>
                                            <option value="CS6.5">CS6.5</option>
                                            <option value="CS6">CS6</option>
                                            <option value="CS5.5">CS5.5</option>
                                            <option value="CS5">CS5</option>
                                            <option value="CS4">CS4</option>
                                            <option value="CS3">CS3</option>
                                            <option value="自定义">自定义</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id="template_material_ae_val_div" style="display: none">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-6">
                                        <input  type="text" name="material_type" id="template_material_ae_val_div_val" placeholder="自定义AE模板版本" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group" id="template_material_pr" style="display: none">
                                    <label class="col-md-3 control-label">PR模板</label>
                                    <div class="col-md-6">
                                        <select name="material_type"  id="template_material_pr_val" class="form-control" >
                                            <option value="CC2019">CC2019</option>
                                            <option value="CC2018">CC2018</option>
                                            <option value="CC2017">CC2017</option>
                                            <option value="CC2016">CC2016</option>
                                            <option value="CC2015">CC2015</option>
                                            <option value="CC2014">CC2014</option>
                                            <option value="CC">CC</option>
                                            <option value="CS6.5">CS6.5</option>
                                            <option value="CS6">CS6</option>
                                            <option value="CS5.5">CS5.5</option>
                                            <option value="CS5">CS5</option>
                                            <option value="CS4">CS4</option>
                                            <option value="CS3">CS3</option>
                                            <option value="自定义">自定义</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id="template_material_pr_val_div" style="display: none">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-6">
                                        <input  type="text" name="material_type" id="template_material_pr_val_div_val" placeholder="自定义PR模板版本" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group" id="template_material_ppt" style="display: none">
                                    <label class="col-md-3 control-label">PPT模板</label>
                                    <div class="col-md-6">
                                        <select name="material_type"  id="template_material_ppt_val" class="form-control" >
                                            <option value="2019">2019</option>
                                            <option value="2016">2016</option>
                                            <option value="2013">2013</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="自定义">自定义</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id="template_material_ppt_val_div" style="display: none">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-6">
                                        <input  type="text" name="material_type" id="template_material_ppt_val_div_val" placeholder="自定义PR模板版本" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">通道</label>
                                    <div class="col-md-9">
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" name="channel"
                                                       value="alpha"> alpha透明通道
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" name="channel"
                                                       value="loop"> 视频loop循环
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">色系</label>
                                    <div class="col-md-9">
                                        <select id="template_colorSytem" name="colorSytem" class="bs-select form-control" data-show-subtext="true" multiple>
                                            <option  data-content="#FE0100<span style='background: #fe0100'  class='label lable-sm label-success'>红色</span>">#FE0100</option>
                                            <option  data-content="#FF6D00<span style='background: #ff6d00'  class='label lable-sm label-success'>橘色</span>">#FF6D00</option>
                                            <option  data-content="#FFE400<span style='background: #ffe400'  class='label lable-sm label-success'>黄色</span>">#FFE400</option>
                                            <option  data-content="#61E502<span style='background: #61e502'  class='label lable-sm label-success'>绿色</span>">#61E502</option>
                                            <option  data-content="#00B4FF<span style='background: #00b4ff'  class='label lable-sm label-success'>浅蓝</span>">#00B4FF</option>
                                            <option  data-content="#005AFF<span style='background: #005aff'  class='label lable-sm label-success'>深蓝</span>">#005AFF</option>
                                            <option  data-content="#9300FC<span style='background: #9300fc'  class='label lable-sm label-success'>紫色</span>">#9300FC</option>
                                            <option  data-content="#FF00C6<span style='background: #ff00c6'  class='label lable-sm label-success'>粉色</span>">#FF00C6</option>
                                            <option  data-content="#5E2C00<span style='background: #5e2c00'  class='label lable-sm label-success'>褐色</span>">#5E2C00</option>
                                            <option  data-content="#FFFFFF<span style='background: #ffffff'  class='label lable-sm label-success'>白色</span>">#FFFFFF</option>
                                            <option  data-content="#8E8E8E<span style='background: #8e8e8e'  class='label lable-sm label-success'>灰色</span>">#8E8E8E</option>
                                            <option  data-content="#000000<span style='background: #000000'  class='label lable-sm label-success'>黑色</span>">#000000</option>
                                        </select>
                                    </div>
                                </div>



                            </div>

                        </div>




                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="template_canelWorks" class="btn dark btn-outline" data-dismiss="modal">取消</button>
                    <button type="button" id="template_saveUpWorks" class="btn green">提交</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
</html>