<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="seller_tab_6">
    <div class="tab-pane" id="tab_6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <span>作品管理:</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <!--<div class="table-scrollable">-->
                            <table id="person-manage--table" class="table table-bordered table-full-width">
                                <thead>
                                    <tr>
                                        <th>标题</th>
                                        <th>预览图</th>
                                        <th>关键字</th>
                                        <th>状态</th>
                                        <th>编辑</th>
                                        <th>删除</th>
                                    </tr>
                                </thead>
                                <tbody id="person-manage-table-body">

                                </tbody>
                            </table>
                        <ul style="display: block;float: right" id="person-manage-table-page"></ul>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</html>