<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head th:fragment="common_header(title,styles,links)">
    <meta charset="UTF-8">
    <title th:replace="${title}">vTu 开拓视野</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="vTu 开拓视野" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link th:href="@{/assets/global/css/subset.css}" href="../../static/assets/global/css/subset.css" rel="stylesheet">
    <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.css}" href="../../static/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.css}" href="../../static/assets/global/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" href="../../static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" href="../../static/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/assets/global/plugins/bootstrap-toastr/toastr.min.css}" href="./../static/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/assets/global/plugins/fancybox/source/jquery.fancybox.css}"
          href="../../static/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css}"
          href="../../static/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css}"
          href="../../static/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css}"
          href="../../static/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet"
          type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
    <!--多选开始-->
    <link th:href="@{/assets/global/plugins/bootstrap-select/css/bootstrap-select.css}" href="../../static/assets/global/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/jquery-multi-select/css/multi-select.css}" href="../../static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <!--<link th:href="@{/assets/global/plugins/select2/css/select2.min.css}" href="../../static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/select2/css/select2-bootstrap.min.css}" href="../../static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <!--多选结束-->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link th:href="@{/assets/global/css/components.css}" href="../../static/assets/global/css/components.css" rel="stylesheet" id="style_components" type="text/css" />
    <link th:href="@{/assets/global/css/plugins.css}" href="../../static/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link th:href="@{/assets/layouts/layout/css/layout.css}" href="../../static/assets/layouts/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/layouts/layout/css/themes/darkblue.css}" href="../../static/assets/layouts/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link th:href="@{/assets/layouts/layout/css/custom.min.css}" href="../../static/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/css/app.css}" rel="stylesheet" href="../../static/assets/global/css/app.css">
    <link th:href="@{/assets/global/css/common.css}" href="../../static/assets/global/css/common.css" rel="stylesheet" type="text/css" />
    <th:block th:replace="${links}" />
    <th:block th:replace="${styles}" />
    <!-- END THEME LAYOUT STYLES -->
    <link th:href="@{/icon.png}" rel="shortcut icon" href="../../static/icon.png"/>
</head>
<body>

</body>
</html>