<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
    <div th:fragment="common_footer">
        <div class="page-footer">
            <div class="container">
                <div class="row list-inline text-center" style="color: #98a6ba">
                    <a target="_blank" href="http://vtuweb.com/">2020 &copy;vtuweb.com</a> &nbsp;|京ICP备<a target="_blank" href="http://beian.miit.gov.cn">19053152</a>号-1
                </div>
            </div>
        </div>
    </div>
</html>