<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="common_navbar">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                    <img src="../static/assets/layouts/layout7/img/logo9.png" alt="logo" class="logo-default"/> </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN MEGA MENU -->
            <div class="hor-menu   hidden-sm hidden-xs">
                <ul class="nav navbar-nav">
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true"> 视频素材
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class="dropdown-submenu" aria-haspopup="true">
                                <a href="javascript:;">
                                    <i class="fa fa-envelope-o"></i> 舞台背景 </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/searchWorks?keyWord=开场大气">开场大气 </a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=中国风">中国风背景</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=抒情唯美">抒情唯美</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=场景背景">场景背景</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=动感背景">动感背景</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=配乐歌舞">配乐歌舞</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown-submenu" aria-haspopup="true">
                                <a href="javascript:;">
                                    <i class="fa fa-envelope-o"></i> 酒吧VJ </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/searchWorks?keyWord=动感光效">动感光效 </a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=卡通3D">卡通3D</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=暖场前场">暖场前场</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=说唱RAP">说唱RAP</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=抽象VJ">抽象VJ</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=舞蹈性感">舞蹈性感</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=派对现场">派对现场</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=样片串烧">样片串烧</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=创意短片">创意短片</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown-submenu" aria-haspopup="true">
                                <a href="javascript:;">
                                    <i class="fa fa-envelope-o"></i> 实拍素材 </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/searchWorks?keyWord=国内元素">国内元素 </a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=景观人文">景观人文</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=自然风景">自然风景</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=历史军事">历史军事</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=工业农业">工业农业</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=科技数码">科技数码</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=金融商业">金融商业</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=医疗教育">医疗教育</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=视觉创意">视觉创意</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=文艺体娱">文艺体娱</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=实拍剪辑">实拍剪辑</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=延时摄影">延时摄影</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=其他影视">其他影视</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown-submenu" aria-haspopup="true">
                                <a href="javascript:;">
                                    <i class="fa fa-envelope-o"></i> 影视包装 </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/searchWorks?keyWord=片头视频">片头视频 </a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=合成背景">合成背景</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=影视特效">影视特效</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=抠像通道">抠像通道</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=边框字幕">边框字幕</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=转场划屏">转场划屏</a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=其他后期">其他后期</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown-submenu" aria-haspopup="true">
                                <a href="javascript:;">
                                    <i class="fa fa-envelope-o"></i> 婚庆节日 </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/searchWorks?keyWord=婚庆婚礼">婚庆婚礼 </a>
                                    </li>
                                    <li>
                                        <a href="/searchWorks?keyWord=节日庆典">节日庆典</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li aria-haspopup="true">
                        <form class="search-form" action="/searchWorks" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="搜索..." name="keyWord">
                                <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- END MEGA MENU -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span></span>
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li th:if="${session.customer ==null}" class="dropdown dropdown-extended dropdown-tasks"  >
                        <a data-toggle="modal" href="#login_model" class="dropdown-toggle font-white"   data-hover="dropdown" data-close-others="true">
                            登录
                        </a>
                    </li>
                    <li th:if="${session.customer !=null}" class="dropdown dropdown-extended dropdown-tasks" >
                        <a href="javascript:;" class="dropdown-toggle font-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            上传
                        </a>
                    </li>
                    <li th:if="${session.customer !=null}" class="dropdown dropdown-extended dropdown-tasks" >
                        <a href="javascript:;" class="dropdown-toggle font-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            充值
                        </a>
                    </li>
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li th:if="${session.customer !=null}" class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img id="customer-header-image" alt="" class="img-circle" th:src="${session.customer.headerImage}"/>
                            <span th:text="${session.customer.name}" class="username username-hide-on-mobile"> Nick </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/goUserProfile">
                                    <i class="icon-user"></i> 个人中心 </a>
                            </li>
                            <!--<li>
                                <a href="/goVIP">
                                    <i class="icon-calendar"></i>VIP中心</a>
                            </li>-->
                            <li>
                                <a href="/goSeller">
                                    <i class="icon-envelope-open"></i> 卖家中心
                                    <span class="badge badge-danger"> 3 </span>
                                </a>
                            </li>

                            <li class="divider"> </li>
                            <li>
                                <a href="/logOut">
                                    <i class="icon-key"></i> 退出登入 </a>
                            </li>
                            <input th:value="${session.customer.accountId}" id="accountId" style="display: none" type="text" />
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->




        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
</div>

</html>