<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head th:replace="/commons/common_header::common_header(~{},~{},~{::link})">
    <link th:href="@{/static/assets/pages/css/profile.css}" href="../../static/assets/pages/css/profile.css" rel="stylesheet" type="text/css"/>
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width">
<div class="page-wrapper">
    <!--首页导航开始-->
    <div th:replace="/commons/common_navbar">
    </div>
    <!--首页导航结束-->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!--侧边导航开始-->
        <div th:replace="/commons/common_side"></div>
        <!--侧边导航结束-->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!--这里写要展示内容-->
                <div th:replace="/userProfile/user_profile_info"></div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- 页脚开始 -->
    <div th:replace="/commons/common_footer">
    </div>
    <!-- 页脚结束 -->

    <!-- END FOOTER -->
</div>
<!-- 快速导航开始 -->
<div th:replace="/commons/common_quick_nav">

</div>
<!-- 快速导航结束 -->
<!--公共模态框开始-->

<!--公共模态框结束-->
<!--引入公共js开始-->
<div th:include="/commons/common_js">

</div>
<!--引入公共js结束-->
</body>

</html>