<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
    <div th:fragment="index_email_model">
        <div class="modal fade" id="email_model" tabindex="-1" role="email_model" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="border: none">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
                        <h3 class="modal-title" style="text-align: center">邮件登录</h3>
                    </div>
                    <div class="modal-body">
                        <div class="bootbox-body">
                            <form id="email_fom" class="bootbox-form">
                                <input id="email_adress" placeholder="请输入邮箱地址" class="bootbox-input bootbox-input-text form-control" autocomplete="off" type="text">
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button id="send_email_auth" type="button" class="btn green">验证邮箱</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</html>