<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head th:replace="/commons/common_header::common_header(~{},~{::link},~{})">
    <link th:href="@{/css/index.css}" rel="stylesheet" href="../../static/css/index.css">
</head>


<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width">
<div class="page-wrapper">
    <!--首页导航开始-->
    <div th:replace="/commons/common_navbar">
    </div>
    <!--首页导航结束-->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!--侧边导航开始-->
        <div th:replace="/commons/common_side"></div>
        <!--侧边导航结束-->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content content-no-padding">
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE BAR -->
                <!--<div class="page-bar">
                </div>-->
                <!-- END PAGE BAR -->
                <!--轮播图开始-->
                <div class="row  no-space  margin-bottom-20">
                    <div class="col-md-12  no-space">
                        <div id="carousel-ad" class="carousel slide carousel-bck"  data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-ad" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-ad" data-slide-to="1"></li>
                                <li data-target="#carousel-ad" data-slide-to="2"></li>
                                <li data-target="#carousel-ad" data-slide-to="3"></li>
                                <li data-target="#carousel-ad" data-slide-to="4"></li>
                                <li data-target="#carousel-ad" data-slide-to="5"></li>
                                <li data-target="#carousel-ad" data-slide-to="6"></li>
                                <li data-target="#carousel-ad" data-slide-to="7"></li>
                            </ol>
                            <div class="carousel-inner " role="listbox">
                                <div class="item active carousel-bck-item " >
                                    <img class="img-responsive center-block" style="height: 100%;border-radius: 8px" src="../../static/imges/5G.jpg">
                                </div>
                                <div class="item carousel-bck-item">
                                    <img class="img-responsive center-block" style="height: 100%;" src="../../static/imges/星云.jpg">
                                </div>
                                <div class="item carousel-bck-item">
                                    <img class="img-responsive center-block" style="height: 100%;" src="../../static/imges/水母.jpg">
                                </div>
                                <div class="item carousel-bck-item">
                                    <img class="img-responsive center-block" style="height: 100%;" src="../../static/imges/科技背景.jpg">
                                </div>
                                <div class="item carousel-bck-item">
                                    <img class="img-responsive center-block" style="height: 100%;" src="../../static/imges/人物肖像.jpg">
                                </div>
                                <div class="item carousel-bck-item">
                                    <img class="img-responsive center-block" style="height: 100%;" src="../../static/imges/儿童.jpg">
                                </div>
                                <div class="item carousel-bck-item">
                                    <img class="img-responsive center-block" style="height: 100%;" src="../../static/imges/冰岛.jpg">
                                </div>
                                <div class="item carousel-bck-item">
                                    <img class="img-responsive center-block" style="height: 100%;" src="../../static/imges/美食MG.jpg">
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" style="z-index: 999" href="#carousel-ad" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" style="z-index: 999" href="#carousel-ad" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>


                </div>
                <!--轮播图结束-->
                <div class="container">
                    <!--精品素材开始-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light portlet-fit">
                                <div class="portlet-title text-center">
                                    <h1>视频素材</h1>
                                    <small>精品素材 海量下载</small>
                                </div>
                                <div class="portlet-body">
                                    <div class="mt-element-card mt-element-overlay">
                                        <div class="row" id="videoList">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                <div class="mt-card-item">
                                                    <a href="/">
                                                        <div class="mt-card-avatar mt-overlay-1" onmouseover="videoShow(this)" onmouseout="videoHide(this)">
                                                            <img th:src="@{/assets/pages/img/general/aa.jpg}" src="../../static/assets/pages/img/general/aa.jpg"/>
                                                            <video class="video" muted  onmouseover="videoPlayback(this)" onmouseout="videoStopped(this)">
                                                                <source  src="../../static/video/video.mp4">
                                                            </video>
                                                        </div>
                                                    </a>

                                                    <div class="mt-card-content">
                                                        <h3 class="mt-card-name line-height-3">作品标题<a class="fa fa-download"></a></h3>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 portlet-title text-center">
                                                <a href="">
                                                    <h4>查看更多···></h4>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--精品素材结束-->

                    <!--模板素材开始-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light portlet-fit">
                                <div class="portlet-title text-center">
                                    <h1>模版素材</h1>
                                    <small>精品素材 海量下载</small>
                                </div>
                                <div class="portlet-body">
                                    <div class="mt-element-card mt-element-overlay">
                                        <div class="row" id="tempList">
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 portlet-title text-center">
                                                <a href="">
                                                    <h4>查看更多···></h4>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--模板素材结束-->

                    <!--平面素材开始-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light portlet-fit">
                                <div class="portlet-title text-center">
                                    <h1>平面素材</h1>
                                    <small>精品素材 海量下载</small>
                                </div>
                                <div class="portlet-body">
                                    <div class="mt-element-card mt-element-overlay">
                                        <div class="row" id="planeList">
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 portlet-title text-center">
                                                <a href="">
                                                    <h4>查看更多···></h4>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--平面素材结束-->

                    <!--更多内容-->
                    <!--<div class="row">
                        <div class="col-md-12">
                            <div class="portlet light portlet-fit">
                                <div class="portlet-title text-center">
                                    <h1>更多精彩内容</h1>
                                    <small>敬请期待……</small>
                                </div>
                                <div class="portlet-body">
                                    <div class="mt-element-card mt-element-overlay">
                                        <div class="row" id="modelList">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                <div class="mt-card-item">
                                                    <a href="/">
                                                        <div class="mt-card-avatar mt-overlay-1" onmouseover="videoShow(this)" onmouseout="videoHide(this)">
                                                            <img th:src="@{/assets/pages/img/general/aa.jpg}" src="../../static/assets/pages/img/general/aa.jpg"/>
                                                            <video class="video" muted  onmouseover="videoPlayback(this)" onmouseout="videoStopped(this)">
                                                                <source  src="../../static/video/video.mp4">
                                                            </video>
                                                        </div>
                                                    </a>

                                                    <div class="mt-card-content">
                                                        <h3 class="mt-card-name line-height-3">作品标题<a class="fa fa-download"></a></h3>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 portlet-title text-center">
                                                <a href="">
                                                    <h4>查看更多···></h4>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!--模板开始-->
                </div>

            </div>
            <!-- END CONTENT BODY -->
        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- 页脚开始 -->
    <div th:replace="/commons/common_footer">
    </div>
    <!-- 页脚结束 -->

    <!-- END FOOTER -->
</div>
<!-- 快速导航开始 -->
<div th:replace="/commons/common_quick_nav">

</div>
<!-- 快速导航结束 -->
<!--登录模态框开始-->
<div th:replace="/index/index_login_model"></div>
<!--登录模态框结束-->
<!--邮箱登录开始-->
<!--登录模态框开始-->
<div th:replace="/index/index_email_model"></div>
<!--邮箱登录结束-->
<!--引入公共js开始-->
<div th:include="/commons/common_js::common_js(~{::script})">
<!-- END THEME LAYOUT SCRIPTS -->
<script th:src="@{/js/index.js}" src="../../static/js/index.js" type="text/javascript"></script>
</div>


<!--引入公共js结束-->
</body>

</html>