<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head th:replace="/commons/common_header::common_header(~{},~{::link},~{})">
    <link th:href="@{/css/index.css}" rel="stylesheet" href="../../static/css/index.css">
    <style>
        body{
            background-image: url("/static/imges/uprade.jpg");
            background-size:cover;
        }
    </style>
</head>
<body>

</body>
</html>