<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->


<div th:fragment="common_js(scripts)">
        <!--[if lt IE 9]>
        <script th:src="@{/assets/global/plugins/respond.min.js}" src="../static/assets/global/plugins/respond.min.js"></script>
        <script th:src="@{/assets/global/plugins/excanvas.min.js}" src="../static/assets/global/plugins/excanvas.min.js"></script>
        <script th:src="@{/assets/global/plugins/ie8.fix.min.js}" src="../static/assets/global/plugins/ie8.fix.min.js"></script>
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script th:src="@{/assets/global/plugins/datatables/js/jquery.js}" src="../../static/assets/global/plugins/datatables/js/jquery.js"></script>
        <script th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.js}" src="../../static/assets/global/plugins/bootstrap/js/bootstrap.js"></script>
        <script th:src="@{/assets/global/plugins/js.cookie.min.js}" src="../static/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" src="../static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" src="../static/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" src="../static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/datatables/js/jquery.dataTables.js}" src="../../static/assets/global/plugins/datatables/js/jquery.dataTables.js"></script>
        <script th:src="@{/assets/global/plugins/datatables/js/dataTables.bootstrap.js}" src="../../static/assets/global/plugins/datatables/js/dataTables.bootstrap.js"></script>
        <script th:src="@{/assets/global/plugins/bootstrap-paginator.min.js}" src="../../static/assets/global/plugins/bootstrap-paginator.min.js"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script th:src="@{/assets/global/plugins/bootstrap-toastr/toastr.min.js}" src="../static/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script th:src="@{/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js}"
                src="../static/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js}"
                src="../static/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js}"
                src="../static/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js"
                type="text/javascript"></script>
        <!--多文件上传js结束-->
        <!--多选开始-->
        <script th:href="@{/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js}" src="../../static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script th:href="@{/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js}" src="../../static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
        <script th:href="@{/assets/global/plugins/select2/js/select2.full.min.js}" src="../../static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <!--多选结束-->
        <script th:src="@{/assets/global/plugins/bootbox/bootbox.min.js}" src="../../static/assets/global/plugins/bootbox/bootbox.min.js"></script>
        <script th:src="@{/assets/global/plugins/bootbox/bootbox.locales.min.js}" src="../../static/assets/global/plugins/bootbox/bootbox.locales.min.js"></script>
        <script th:src="@{/assets/global/plugins/bootbox/locales/zh_CN.js}" src="../../static/assets/global/plugins/bootbox/locales/zh_CN.js"></script>
        <!-- bootbox end-->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script th:src="@{/assets/global/scripts/app.min.js}" src="../static/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->

        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script th:src="@{/assets/layouts/layout/scripts/layout.min.js}" src="../static/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script th:src="@{/assets/layouts/layout/scripts/demo.min.js}" src="../static/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script th:src="@{/assets/layouts/global/scripts/quick-sidebar.js}" src="../static/assets/layouts/global/scripts/quick-sidebar.js" type="text/javascript"></script>
        <script th:src="@{/assets/layouts/global/scripts/quick-nav.js}" src="../static/assets/layouts/global/scripts/quick-nav.js" type="text/javascript"></script>
        <script th:src="@{/js/commons.js}" src="../../static/js/commons.js"></script>
        <script th:src="@{/js/sendMail.js}" src="../../static/js/sendMail.js"></script>
        <th:block th:replace="${scripts}" />

    </div>
</html>