<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="UTF-8">
    <title>vTu 开拓视野</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="vTu 开拓视野" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link th:href="@{/assets/global/css/subset.css}" href="../static/assets/global/css/subset.css" rel="stylesheet">
    <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.css}" href="../static/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.css}" href="../static/assets/global/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" href="../static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" href="../static/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link th:href="@{/assets/global/css/components.css}" href="../static/assets/global/css/components.css" rel="stylesheet" id="style_components" type="text/css" />
    <link th:href="@{/assets/global/css/plugins.css}" href="../static/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link th:href="@{/assets/layouts/layout/css/layout.css}" href="../static/assets/layouts/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/layouts/layout/css/themes/blue.css}" href="../static/assets/layouts/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link th:href="@{/assets/layouts/layout/css/custom.min.css}" href="../static/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link th:src="@{/assets/global/css/app.css}" rel="stylesheet" href="../static/assets/global/css/app.css">
    <!-- END THEME LAYOUT STYLES -->
    <link th:href="@{/icon.png}" rel="shortcut icon" href="../static/imges/icon.png"/>
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index/index.html">
                    <img src="../static/assets/layouts/layout7/img/logo9.png" alt="logo" class="logo-default"/> </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN MEGA MENU -->
            <div class="hor-menu   hidden-sm hidden-xs">
                <ul class="nav navbar-nav">
                    <li class="mega-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true"> vip素材
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 700px;">
                            <li>
                                <!-- Content container to add padding -->
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Section 1</h3>
                                                </li>
                                                <li>
                                                    <a href="#">Example Link</a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Section 2</h3>
                                                </li>
                                                <li>
                                                    <a href="#">Example Link</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Section 3</h3>
                                                </li>
                                                <li>
                                                    <a href="#">Example Link</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true"> 设计模板
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-bookmark-o"></i> Section 1 </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-user"></i> Section 2 </a>
                            </li>
                            <li class="dropdown-submenu" aria-haspopup="true">
                                <a href="javascript:;">
                                    <i class="fa fa-envelope-o"></i> More options </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:;"> Second level link </a>
                                    </li>
                                    <li class="dropdown-submenu" aria-haspopup="true">
                                        <a href="javascript:;"> More options </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="index/index.html"> Third level link </a>
                                            </li>
                                            <li>
                                                <a href="index/index.html"> Third level link </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="index/index.html"> Second level link </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true"> 免费素材
                            <!--<i class="fa fa-angle-down"></i>-->
                        </a>
                    </li>
                    <li aria-haspopup="true">
                        <form class="search-form" action="extra_search.html" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="搜索..." name="query">
                                <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- END MEGA MENU -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span></span>
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-extended dropdown-tasks" >
                        <a href="javascript:;" class="dropdown-toggle font-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            注册
                        </a>
                    </li>
                    <li class="dropdown dropdown-extended dropdown-tasks" >
                        <a href="javascript:;" class="dropdown-toggle font-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            上传
                        </a>
                    </li>
                    <li class="dropdown dropdown-extended dropdown-tasks" >
                        <a href="javascript:;" class="dropdown-toggle font-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            充值
                        </a>
                    </li>
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="../static/assets/layouts/layout/img/avatar3_small.jpg" />
                            <span class="username username-hide-on-mobile"> Nick </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="page_user_profile_1.html">
                                    <i class="icon-user"></i> 个人中心 </a>
                            </li>
                            <li>
                                <a href="app_calendar.html">
                                    <i class="icon-calendar"></i> 我的店铺 </a>
                            </li>
                            <li>
                                <a href="app_inbox.html">
                                    <i class="icon-envelope-open"></i> 我的待办
                                    <span class="badge badge-danger"> 3 </span>
                                </a>
                            </li>
                            <li>
                                <a href="app_todo.html">
                                    <i class="icon-rocket"></i> 我的店铺
                                    <span class="badge badge-success"> 7 </span>
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="page_user_login_1.html">
                                    <i class="icon-key"></i> 注销 </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- END SIDEBAR MENU -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
                    <ul class="page-sidebar-menu visible-sm visible-xs  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="sidebar-search-wrapper">
                            <form class="sidebar-search sidebar-search-bordered" action="extra_search.html" method="POST">
                                <a href="javascript:;" class="remove">
                                    <i class="icon-close"></i>
                                </a>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                                <button class="btn submit">
                                                    <i class="icon-magnifier"></i>
                                                </button>
                                            </span>
                                </div>
                            </form>
                            <!-- END RESPONSIVE QUICK SEARCH FORM -->
                        </li>
                        <li class="nav-item start active open">
                            <a href="index/index.html" class="nav-link nav-toggle"> Active
                                <span class="selected"> </span>
                                <span class="arrow open"> </span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item start ">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="icon-home"></i>
                                        <span class="title">Dashboard</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item start ">
                                            <a href="index/index.html" class="nav-link ">
                                                <i class="icon-bar-chart"></i>
                                                <span class="title">Dashboard 1</span>
                                            </a>
                                        </li>
                                        <li class="nav-item start ">
                                            <a href="dashboard_2.html" class="nav-link ">
                                                <i class="icon-bulb"></i>
                                                <span class="title">Dashboard 2</span>
                                                <span class="badge badge-success">1</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item  active open">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="icon-paper-plane"></i>
                                        <span class="title">Horizontal Menu</span>
                                        <span class="selected"></span>
                                        <span class="arrow open"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item  ">
                                            <a href="layout_mega_menu_light.html" class="nav-link ">
                                                <span class="title">Light Mega Menu</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="layout_mega_menu_dark.html" class="nav-link ">
                                                <span class="title">Dark Mega Menu</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  active open">
                                            <a href="layout_full_width.html" class="nav-link ">
                                                <span class="title">Full Width Layout</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    </ul>
                    <!-- END RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
                </div>
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">





            </div>
            <!-- END CONTENT BODY -->
        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner"> 2016 &copy; Metronic Theme By
            <a target="_blank" href="http://keenthemes.com">Keenthemes</a> &nbsp;|&nbsp;
            <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
</div>
<!-- BEGIN QUICK NAV -->
<nav class="quick-nav">
    <a class="quick-nav-trigger" href="#0">
        <span aria-hidden="true"></span>
    </a>
    <ul>
        <li>
            <a href="http://vtuweb.com/" target="_blank" class="active">
                <span>我的收藏</span>
                <i class="icon-basket"></i>
            </a>
        </li>
        <li>
            <a href="http://vtuweb.com/" target="_blank">
                <span>联系客服</span>
                <i class="icon-users"></i>
            </a>
        </li>
        <li>
            <a href="http://vtuweb.com/" target="_blank">
                <span>购买历史</span>
                <i class="icon-user"></i>
            </a>
        </li>
        <li>
            <a href="http://vtuweb.com/" target="_blank">
                <span>下载历史</span>
                <i class="icon-graph"></i>
            </a>
        </li>
    </ul>
    <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
<div class="quick-nav-overlay"></div>
<!-- END QUICK NAV -->
<!--[if lt IE 9]>
<script th:src="@{/assets/global/plugins/respond.min.js}" src="../static/assets/global/plugins/respond.min.js"></script>
<script th:src="@{/assets/global/plugins/excanvas.min.js}" src="../static/assets/global/plugins/excanvas.min.js"></script>
<script th:src="@{/assets/global/plugins/ie8.fix.min.js}" src="../static/assets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script th:src="@{/assets/global/plugins/jquery.min.js}" src="../static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.min.js}" src="../static/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/js.cookie.min.js}" src="../static/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" src="../static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" src="../static/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" src="../static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script th:src="@{/assets/global/scripts/app.min.js}" src="../static/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script th:src="@{/assets/layouts/layout/scripts/layout.min.js}" src="../static/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script th:src="@{/assets/layouts/layout/scripts/demo.min.js}" src="../static/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script th:src="@{/assets/layouts/global/scripts/quick-sidebar.js}" src="../static/assets/layouts/global/scripts/quick-sidebar.js" type="text/javascript"></script>
<script th:src="@{/assets/layouts/global/scripts/quick-nav.js}" src="../static/assets/layouts/global/scripts/quick-nav.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>