<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div th:fragment="seller_sign_model">
    <div class="modal fade" id="sign_model" tabindex="-1" role="sign_model" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="personal_sign_form" enctype="multipart/form-data" class="form-horizontal" action="/personalSign">
                    <div class="modal-header" style="border: none">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
                        <h3 class="modal-title" style="text-align: center">个人实名签约</h3>
                    </div>
                    <div class="modal-body">

                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">手持证件说明</label>
                                <div class="col-md-9" style="display: inline-block">
                                    <span>请上传本人手持身份证正面头部免冠、未化妆，例如样本
                                        照片请勿用用任何编辑软件处理，必须看清证件信息,持证五官清晰
                                        您提供的照片信息V图网将以保护，不会用于其他途径
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">手持身份证样本</label>
                                <div class="col-md-9" style="display: inline-block">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <div class="col-md-12">
                                                <span class="fileinput-button">
                                                    <img class="img-responsive" id="idCardUrl_show"
                                                         name="idCardUrl_show" th:src="@{/imges/sign/idCard.jpg}"
                                                         src="../static/sign/idCard.jpg"/>
                                                    <input type="file" name="idCardUrl" id="idCardUrl"
                                                           multiple="multiple">
                                                </span>
                                                <span class="help-block">点击添加手持身份证正面照片</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="col-md-12">
                                                <span class="fileinput-button">
                                                    <img class="img-responsive" id="passPort_show" name="passPort_show"
                                                         th:src="@{imges/sign/passPort.jpg}" src="../static/imges/sign/passPort.jpg"/>
                                                    <input type="file" name="passPort" id="passPort"
                                                           multiple="multiple">
                                                </span>
                                                <span class="help-block">点击添加手持护照正面照片</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">个人签约申明</label>
                                <div class="col-md-9">
                                    <span>上传已签署的协议照片或扫描件，签署人不必须与实名认证人一致
                                        图片大小不超过3M，所有待填写项必须手填写
                                    </span>
                                    <span class="help-block">
                                        <a href="../static/imges/sign/vtu实名签约声明（个人版）.docx" th:href="@{imges/sign/vtu实名签约声明（个人版）.docx}" type="button" class="btn btn-link">下载个人签约申明模板</a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">个人签约样本</label>
                                <div class="col-md-9">
                                    <span class="fileinput-button">
                                        <img class="img-responsive" id="protocol_show" name="passPort_show"
                                             th:src="@{/imges/sign/protocol.jpg}" src="../static/imges/sign/protocol.jpg"/>
                                        <input type="file" name="protocol" id="protocol" multiple="multiple">
                                    </span>
                                    <span class="help-block">点击添加签约扫描件</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-lg-offset-3 col-md-offset-3">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input id="person_sign_confirm" type="checkbox"> 确认信息准确无误
                                <span></span>
                            </label>
                            <!--<a href="">本网站声明</a>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-lg-offset-3 col-md-offset-3">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input id="person_sign_protocol" type="checkbox"> 同意
                                <span></span>
                            </label>
                            <a href="">《V图网卖家销售协议》</a>
                        </div>
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button id="personal_sign_apply" type="button" class="btn green">提交</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>