.collection-list{
    display: flex;
    flex-direction: column;
}
.collection-list >label{
   height: 200px;
    width: 300px;
}
.collection-list >b{
align-items: center;
}

.my-vip >td{
    background: #e7ecf1;
    color: #999b9b;
}